Repository getbigger-io/prisma-fixtures: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, jsonlint -c, yamllint

First release of prisma-fixtures-cli from https://github.com/RobinCK/typeorm-fixtures
  README.md
Due: prettier --write

v1.0.1
  CHANGELOG.md
  package.json
Due: prettier --write, jsonlint -c

Changelog
  CHANGELOG.md
Due: prettier --write

tslint
  src/util/createConnection.ts
Due: prettier --write, tslint --fix

tslint
  .circleci/config.yml
Due: yamllint

v1.0.2
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write, jsonlint -c

Circle CI build and Readme
  CHANGELOG.md
Due: prettier --write

Circle CI build and Readme
  README.md
Due: prettier --write

v1.0.3
  CHANGELOG.md
  package.json
Due: prettier --write, jsonlint -c

Fix bad sections in readme
  README.md
Due: prettier --write

v1.0.4
  CHANGELOG.md
  package.json
Due: prettier --write, jsonlint -c

fix(package.json): keywords
  CHANGELOG.md
  package.json
Due: prettier --write, jsonlint -c

v1.0.5
  CHANGELOG.md
  package.json
Due: prettier --write, jsonlint -c

Fixind Joi Schema
  .github/workflows/build.yml
Due: yamllint

fix(src/schema/jfixturesschema.ts): trying to fix invalid joi schema
  README.md
Due: prettier --write

v1.0.6
  CHANGELOG.md
  package.json
Due: prettier --write, jsonlint -c

v1.0.7
  CHANGELOG.md
  package.json
Due: prettier --write, jsonlint -c

docs: remove old sponsor
  .github/FUNDING.yml
  package.json
Due: prettier --write, jsonlint -c, yamllint

Build CI
  .github/workflows/build.yml
Due: yamllint

fix(fakerparser.js): fix faker method returning string
  package.json
  src/parsers/FakerParser.ts
  test/unit/parsers/FakerParser.test.ts
  yarn.lock
Due: prettier --write, tslint --fix, jsonlint -c

v1.0.8
  CHANGELOG.md
  package.json
Due: prettier --write, jsonlint -c

v1.0.9
  CHANGELOG.md
  package.json
Due: prettier --write, jsonlint -c

fix(builder.ts): fix optional connectedFields
  README.md
  src/Builder.ts
  yarn.lock
Due: prettier --write, tslint --fix

changes
  CHANGELOG.md
Due: prettier --write

(chore) upgrading faker.js version
  package.json
  src/parsers/FakerParser.ts
  test/unit/parsers/FakerParser.test.ts
Due: prettier --write, tslint --fix, jsonlint -c

Update config.yml
  .circleci/config.yml
Due: yamllint

version upgrades
  package.json
Due: prettier --write, jsonlint -c

Fix prisma version
  package.json
Due: prettier --write, jsonlint -c

Fix lint
  src/parsers/FakerParser.ts
Due: prettier --write, tslint --fix

Fix lint & prettier
  package.json
  src/parsers/FakerParser.ts
  tslint.json
Due: prettier --write, tslint --fix, jsonlint -c

Deps to prisma 4
  .circleci/config.yml
  package.json
  test/integration/assets/schema/schema.prisma
Due: prettier --write, jsonlint -c, yamllint

Fix build
  src/loaders/YamlLoader.ts
Due: prettier --write, tslint --fix

feat: prisma >4.0
  .circleci/config.yml
Due: yamllint

Upgrade version
  package.json
Due: prettier --write, jsonlint -c

feat: Make idempotent on id
  src/Builder.ts
  test/unit/Builder.test.ts
  test/unit/assets/mock/Connection.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: any of: *.{ts,json,md}
  tslint --fix: any of: *.ts
  jsonlint -c: any of: *.json
  yamllint: any of: *.{yaml,yml}
